@(index: Integer, answerSheet: models.entity.AnswerSheet, signs: List[String]) 

@import helper._

@**
回答シート とインデックス
FR 種別
と選択したオプションを渡す。
*@

@main("問題"){
<style type="text/css">
    <!--
    input.radio {display:inline-block; width:20px; vertical-align:center;}
    label.radiolabel {display:block; width:100%; background:#FEFEFE; border:1px solid #F3F3F3; font-weight: normal}
    -->
    </style>

	<script type="text/javascript">
	<!--
	$(document).ready(function(){
	    $( "#nextColumn" ).click( function() {  
            $("#nextIndex").val("@(index+1)");
	    	$('#form1').submit();
	    });  
        $( "#prevColumn" ).click( function() {  
            $("#nextIndex").val("@(index-1)");
            $('#form1').submit();
        });  
	});
--></script>

 

<br>
	解答済問題
<div class="progress progress-striped">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="@answerSheet.getAnsweredCount()" aria-valuemin="0" aria-valuemax="@answerSheet.getQuestionCount()" style="width: @(answerSheet.getAnsweredCount()*100 / answerSheet.getQuestionCount())%;">
    @answerSheet.getAnsweredCount() / @answerSheet.getQuestionCount()
  </div>
</div>
        <ul class="pager">
            <li><a href="@routes.Examination.showAnswerSheet(answerSheet.id)">問題一覧</a></li>
            <li><a href="@routes.Examination.finishExam(answerSheet.id)">試験終了</a></li>
        </ul>

<div class="panel panel-primary">
    <!-- Default panel contents -->
	<div class="panel-heading">
		<h4>
		@answerSheet.answerColumns.get(index).question.sentence
		</h4>
	</div>
	
	<!-- Form ---------->
	
    @helper.form(action = CSRF(routes.Examination.answerAndChange()), 'id -> "form1"){
	    <input type="hidden" name="answerSheetId" value="@answerSheet.id">
	    <input type="hidden" name="currentIndex" value="@index">
	    <input type="hidden" name="nextIndex" id="nextIndex" value="">
	    
		<!-- Table -->
		<div class="panel-body">
			@for(option <- answerSheet.answerColumns.get(index).question.optionItems) {
			    @if(answerSheet.answerColumns.get(index) == null){
			        <p>null ダネ</p>
			    }
			    <label class="radiolabel" onclick="">
			        @if(answerSheet.answerColumns.get(index).isAnswered() && (answerSheet.answerColumns.get(index).selectedOptionItem == option)){
			            <input type="radio" name="optionItemId" value="@option.id" class="radio" checked="checked">
			        } else {
                        <input type="radio" name="optionItemId" value="@option.id" class="radio">
			        }
				    <B>@signs(answerSheet.answerColumns.get(index).question.optionItems.indexOf(option))</B>
				    <br>
				    <div style="margin-left:20px;margin-right:10px;">
				      @option.sentence
				    </div>
				    </input>
			    </label>
			}
		</div>
    }
	<!---------- Form -->
</div>
<br>
    <ul class="pager">
        @if(index > 0) {
			<li class="previous">
				<a id="prevColumn">&larr; Prev</a>
			</li>
		}
		
		@if(index < answerSheet.getQuestionCount()-1) {
			<li class="next">
				<a id="nextColumn">Next &rarr;</a>
			</li>
		}
	</ul>
<br>
}