@(questionNo: Integer) 

@main("問題"){
<style type="text/css">
    <!--
    input.radio {display:inline-block; width:20px; vertical-align:center;}
    label.radiolabel {display:block; width:100%; background:#FEFEFE; border:1px solid #F3F3F3; font-weight: normal}
    -->
    </style>
</head>

<div class="row"> 
<div class="col-sm-8 col-lg-8">
<h6> 64/80 回答済</h6>
</div>
<div class="col-sm-4 col-lg-4">
<div class="btn-group">

<!-- button type="button" class="btn btn-default" onclick="">問題一覧</button>
<button type="button" class="btn btn-default">中断</button>
<button type="button" class="btn btn-default">テスト終了</button -->

@helper.form(action = routes.Examination.showAnswerSheet){
    <input type="submit" value="問題一覧">
    <input type="submit" value="試験終了">
}
</div>
</div>
</div>


<br>

<div class="panel panel-primary">
<!-- Default panel contents -->
<div class="panel-heading">
<h3>
非機能要件項目はどれか。
</h3>
</div>
<!-- Table -->
<div class="panel-body">
<label class="radiolabel" onclick=""><input type="radio" name="sex" value="male" class="radio" />
<B>ア</B><br>
<div style="margin-left:20px;margin-right:10px;">
新しい業務の在り方や運用に関わる業務手順，入出力情報，組織，責任，権限，業務上の制約などの項目
</div>
</label>
<label class="radiolabel" onclick=""><input type="radio" name="sex" value="male" class="radio" />
<B>イ</B><br>
<div style="margin-left:20px;margin-right:10px;">
新しい業務の遂行に必要なアプリケーションシステムに関わる対象となる人の作業，システム機能の実現範囲，機能聞の情報の流れなどの項目
</div>
</label>
<label class="radiolabel" onclick=""><input type="radio" name="sex" value="male" class="radio" />
<B>ウ</B><br>
<div style="margin-left:20px;margin-right:10px;">
経営戦略や情報戦略に関わる経営上のニーズ，システム化・システム改善を必要とする業務上の課題，求められる成果・目標などの項目
</div>
</label>
<label class="radiolabel" onclick=""><input type="radio" name="sex" value="male" class="radio" />
<B>エ</B><br>
<div style="margin-left:20px;margin-right:10px;">
システム基盤に関わる可用性，性能，拡張性，運用性，保守性，移行性，セキュリティ，システム環境などの項目
</div>
</label>
</div>
</div>

<br>
<div style="text-align: center">
    <input type="button" value="戻る">
    <input type="button" value="次へ">
</div>
<br>

<button type="button" class="btn btn-default">
<span class="glyphicon glyphicon-star"></span>
</button>
<button type="button" class="btn btn-default">
<span class="glyphicon glyphicon-question-sign" ></span>
</button>

}