@(index: Integer, answerSheet: models.entity.AnswerSheet, signs: List[String]) 

@**
回答シート とインデックス
FR 種別
と選択したオプションを渡す。
*@

@main("問題"){
<style type="text/css">
    <!--
    input.radio {display:inline-block; width:20px; vertical-align:center;}
    label.radiolabel {display:block; width:100%; background:#FEFEFE; border:1px solid #F3F3F3; font-weight: normal}
    -->
    </style>
</head>

<div class="row"> 
	<div class="col-sm-8 col-lg-8">
    	<h6> 64/80 回答済</h6>
	</div>	
	<div class="col-sm-4 col-lg-4">
		<div class="btn-group">
		@helper.form(action = routes.Examination.showAnswerSheet){
		    <input type="submit" value="問題一覧">
		    <input type="submit" value="試験終了">
		}
		</div>
	</div>
</div>

<br>

<div class="panel panel-primary">
    <!-- Default panel contents -->
	<div class="panel-heading">
		<h3>
		@answerSheet.answerColumns.get(index).question.sentence
		</h3>
	</div>

	<!-- Table -->
	<div class="panel-body">
		@for(option <- answerSheet.answerColumns.get(index).question.optionItems) {
		    @if(answerSheet.answerColumns.get(index) == null){
		        <p>null ダネ</p>
		    }
		    <label class="radiolabel" onclick=""><input type="radio" name="sex" value="male" class="radio" checked=""/>
		    <B>@signs(answerSheet.answerColumns.get(index).question.optionItems.indexOf(option))</B><br>
		    <div style="margin-left:20px;margin-right:10px;">
		    @option.sentence
		    </div>
		    </label>
		}
	</div>
</div>

<br>
@helper.form(action = routes.Examination.showAnswerSheet){
	<ul class="pager">
	  <li class="previous"><a href="javascript:submit()">&larr; Prev</a></li>
	  <li class="next"><a href="javascript:submit()">Next &rarr;</a></li>
	</ul>
	<br>
}

<button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-star"></span>
</button>

<button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-question-sign" ></span>
</button>

}