@(result: Integer, answerSheet: models.entity.AnswerSheet)

@main("試験結果") {

<div class="panel panel-default">
  <!-- Default panel contents -->
  @helper.form(action = routes.Examination.finishExam(answerSheet.id)){
	  <div class="panel-heading">
                平成24年 応用情報処理試験 秋期   
        <input type="submit" value="試験終了">
	  </div>
	  <div class="panel-body">
	    <p>回答済 24/80 問</p>
	    <p>未回答 56/80 問</p>
	  </div>
  }
  <!-- Table -->
  <table class="table">
            <thead>
            <tr>
              <th>問</th>
              <th>問題</th>
              <th>回答</th>
              <th>マーク</th>
            </tr>
          </thead>
          <tbody>
            @for(i <- 0 to answerSheet.answerColumns.size - 1) {
            <tr>
              <td><a href="@routes.Examination.changeAnswerColumn(i, answerSheet.id)">@{i+1}</a></td>
              <td><a href="@routes.Examination.changeAnswerColumn(i, answerSheet.id)">@answerSheet.answerColumns.get(i).question.sentence</a></td>
              @if(answerSheet.answerColumns.get(i).selectedOptionItem != null){
              <td>@answerSheet.answerColumns.get(i).selectedOptionItem.sentence</td>
              }
              <td><span class="glyphicon glyphicon-question-sign"></span></td>
            </tr>
            }
          </tbody>
  </table>
</div>
    
        <input type = submit name = "問題一覧へ">
}