@(result: Integer, answerSheet: models.entity.AnswerSheet)

@main("試験結果") {

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    @answerSheet.answerColumns.get(0).question.category.name
    <a href="@routes.Examination.finishExam(answerSheet.id)" class="btn btn-default" role="button">試験終了</a>
  </div>
  <div class="panel-body">
    <p>回答済 @answerSheet.getAnsweredCount()/@answerSheet.getQuestionCount() 問</p>
	<p>未回答 @{answerSheet.getQuestionCount() - answerSheet.getAnsweredCount()}/@answerSheet.getQuestionCount() 問</p>
  </div>
  <!-- Table -->
  <table class="table">
            <thead>
            <tr>
              @if(answerSheet.isFinished()) { <th></th> }
              <th>問</th>
              <th>問題</th>
              @if(!answerSheet.isFinished()) {
              <th>回答</th>
              <th>マーク</th>
              }
            </tr>
          </thead>
          <tbody>
            @for(i <- 0 to answerSheet.answerColumns.size - 1) {
            <tr>
              @if(answerSheet.isFinished()) {
                  @if(answerSheet.getAnswerColumns().get(i).isCorrect()) {
                      <td>○</td>
                  } else {
                      @if(answerSheet.getAnswerColumns().get(i).isAnswered()){
                          <td>×</td>
                      } else {
                          <td>-</td>
                      }
                  }
              }
              
              <td><a href="@routes.Examination.changeAnswerColumn(i, answerSheet.id)">@{i+1}</a></td>
              <td><a href="@routes.Examination.changeAnswerColumn(i, answerSheet.id)">@answerSheet.answerColumns.get(i).question.sentence</a></td>
              @if(!answerSheet.isFinished()) {
	              @if(answerSheet.answerColumns.get(i).isAnswered()){
	                @if(answerSheet.answerColumns.get(i).selectedOptionItem.sentence.length() > 12){
	                  	<td>@answerSheet.answerColumns.get(i).selectedOptionItem.sentence.substring(12) ...</td>
	                } else {
	                    <td>@answerSheet.answerColumns.get(i).selectedOptionItem.sentence</td>
	                    
	               }
	              } else {
	              	<td/>
	              }
	              <td><span class="glyphicon glyphicon-question-sign"></span></td>
	          }
            </tr>
            }
          </tbody>
  </table>
</div>
}