@(result: Integer, answerSheet: models.entity.AnswerSheet)

@main("試験結果") {
<style type="text/css">
    <!--
    .war {  
        background: #E3F2DA;  
    }
    .fine {  
        background: #E3F2DA;  
    }
    .ng {  
        background: #E3F2DA;  
    }
    -->
    </style>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    @answerSheet.answerColumns.get(0).question.category.name
    <a href="@routes.Examination.finishExam(answerSheet.id)" class="btn btn-default" role="button">試験終了</a>
  </div>
  <div class="panel-body">
    <p>回答済 @answerSheet.getAnsweredCount()/@answerSheet.getQuestionCount() 問</p>
	<p>未回答 @{answerSheet.getQuestionCount() - answerSheet.getAnsweredCount()}/@answerSheet.getQuestionCount() 問</p>
  </div>
  <!-- Table -->
  <table class="table">
            <thead>
            <tr>
              @if(answerSheet.isFinished()) { <th></th> }
              <th>問</th>
              <th>問題</th>
              @if(!answerSheet.isFinished()) {
              <th>回答</th>
              <th>マーク</th>
              }
            </tr>
          </thead>
          <tbody>
            <tr>
            @for(i <- 0 to answerSheet.answerColumns.size - 1) {
              @if(answerSheet.isFinished()) {
                  @if(answerSheet.getAnswerColumns().get(i).isCorrect()) {
                      <td style="color: #3c763d; background-color: #dff0d8;"><span class="glyphicon glyphicon glyphicon-thumbs-up"></span></td>
                  } else {
                      @if(answerSheet.getAnswerColumns().get(i).isAnswered()){
                        <td style="color: #a94442; background-color: #f2dede;"><span class="glyphicon glyphicon glyphicon-thumbs-down"></span></td>
                      } else {
                        <td style="color: #8a6d3b; background-color: #fcf8e3;"><span class="glyphicon glyphicon glyphicon-minus"></span></td>
                      }
                  }
              }
              <td><a href="@routes.Examination.changeAnswerColumn(i, answerSheet.id)">@answerSheet.answerColumns.get(i).question.no</a></td>
              <td><a href="@routes.Examination.changeAnswerColumn(i, answerSheet.id)">@answerSheet.answerColumns.get(i).question.sentence</a></td>
              @if(!answerSheet.isFinished()) {

	              @if(answerSheet.answerColumns.get(i).isAnswered()){
	                @if(answerSheet.answerColumns.get(i).selectedOptionItem.sentence.length() > 20){
	                  	<td>@answerSheet.answerColumns.get(i).selectedOptionItem.sentence.substring(0, 19) ...</td>
	                } else {
	                    <td>@answerSheet.answerColumns.get(i).selectedOptionItem.sentence</td>
	                    
	               }
	              } else {
	              	<td/>
	              }
	              <td><span class="glyphicon glyphicon-question-sign"></span></td>
	          }
            </tr>
            }
          </tbody>
  </table>
</div>
}